/* - This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this file,
   - You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common-shared.css");

@namespace html "http://www.w3.org/1999/xhtml";
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

:root {
  --in-content-button-height: 2.2em;
  --in-content-button-border-color: color-mix(in srgb, currentColor 9%, transparent);
  --in-content-button-border-color-hover: color-mix(in srgb, currentColor 17%, transparent);
}

xul|menulist::part(dropmarker) {
  margin-block: 1px;
}

xul|checkbox,
xul|radio {
  padding-inline-start: 0;
}

/* Override menulist.css */
xul|menulist[disabled="true"] {
  background-color: var(--in-content-button-background);
}

xul|menulist:-moz-focusring > xul|*.menulist-label-box {
  outline: none !important;
}

html|button {
  /* XUL button min-width */
  min-width: 6.3em;
}

xul|tab {
  min-height: 2.5em;
}

:host(dialog[subdialog]) .dialog-button-box > button {
  min-height: var(--in-content-button-height);
  padding-block: initial;
  padding-inline: 15px;
  border-color: transparent;
  border-radius: var(--in-content-button-border-radius);
}
