# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Variables:
# $organizer (String) - The participant that created the original invitation.
calendar-invitation-panel-intro = { $organizer } zaprasza Cię na wydarzenie:
calendar-invitation-panel-status-new = Masz zaproszenie na to wydarzenie.
calendar-invitation-panel-status-processed = To wydarzenie zostało już dodane do kalendarza.
calendar-invitation-panel-status-updateminor = Ta wiadomość zawiera aktualizację tego wydarzenia.
calendar-invitation-panel-status-updatemajor = Ta wiadomość zawiera aktualizację tego wydarzenia. Należy ponownie potwierdzić swoją obecność.
calendar-invitation-panel-status-cancelled = Wiadomość zawiera odwołanie tego wydarzenia.
calendar-invitation-panel-status-cancelled-notfound = Ta wiadomość zawiera odwołanie wydarzenia, którego nie ma w kalendarzu.
# Variables:
# $organizer (String) - The participant that cancelled the invitation.
calendar-invitation-panel-intro-cancel = { $organizer } odwołuje:
# Variables:
# $summary (String) - A short summary or title of the event.
calendar-invitation-panel-title = { $summary }
calendar-invitation-panel-action-button = Zapisz
calendar-invitation-panel-view-button = Wyświetl
calendar-invitation-panel-update-button = Uaktualnij
calendar-invitation-panel-delete-button = Usuń
calendar-invitation-panel-accept-button = Tak
calendar-invitation-panel-decline-button = Nie
calendar-invitation-panel-tentative-button = Może
calendar-invitation-panel-reply-status = * Jeszcze nie podjęto decyzji ani nie odpowiedziano
calendar-invitation-panel-more-button = Więcej
calendar-invitation-panel-menu-item-save =
    .label = Zachowaj w kalendarzu
calendar-invitation-panel-menu-item-toggle-changes =
    .label = Pokaż zmiany
calendar-invitation-panel-prop-title-when = Kiedy:
calendar-invitation-panel-prop-title-location = Miejsce:
# Variables:
# $dayOfWeek (String) - The day of the week for a given date.
# $date (String) - The date example: Tuesday, February 24, 2022.
calendar-invitation-datetime-date = { $dayOfWeek }, { $date }
# Variables:
# $time (String) - The time part of a datetime using the "short" timeStyle.
# $timezone (String) - The timezone info for the datetime.
calendar-invitation-datetime-time = { $time } ({ $timezone })
# Example: Friday, September 16, 2022
# Variables:
# $startDate (String) - The date (without time) the event starts on.
calendar-invitation-interval-all-day = { $startDate }
# Example: September 16, 2022 – September 16, 2023
# $startMonth (String) - The month the interval starts.
# $startDay   (String) - The day of the month the interval starts.
# $startYear  (String) - The year the interval starts.
# $endMonth   (String) - The month the interval ends.
# $endDay     (String) - The day of the month the interval ends.
# $endYear    (String) - The year the interval ends.
calendar-invitation-interval-all-day-between-years = { $startDay } { $startMonth } { $startYear } – { $endDay } { $endMonth } { $endYear }
# Example: September 16 – 20, 2022
# $month      (String) - The month the interval is in.
# $startDay   (String) - The day of the month the interval starts.
# $endDay     (String) - The day of the month the interval ends.
# $year       (String) - The year the interval is in.
calendar-invitation-interval-all-day-in-month = { $startDay }-{ $endDay } { $month } { $year }
# Example: September 16 – October 20, 2022
# $startMonth (String) - The month the interval starts.
# $startDay   (String) - The day of the month the interval starts.
# $endDay     (String) - The day of the month the interval ends.
# $year       (String) - The year the interval is in.
calendar-invitation-interval-all-day-between-months = { $startDay } { $startMonth } – { $endDay } { $endMonth } { $year }
# Example: Friday, September 16, 2022 15:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-same-date-time = { $startDate } o <b>{ $startTime }</b> ({ $timezone })
# Example: Friday, September 16, 2022 14:00 – 16:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $endTime   (String) - The time the interval ends.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-same-day = { $startDate } o <b>{ $startTime }-{ $endTime }</b> ({ $timezone })
# Example: Friday, September 16, 2022 14:00 – Tuesday, September 20, 2022 16:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $startDate (String) - The date the interval ends.
# $endTime   (String) - The time the interval ends.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-several-days = { $startDate } o <b>{ $startTime }</b> – { $endDate } o <b>{ $endTime }</b> ({ $timezone })
calendar-invitation-panel-prop-title-recurrence = Powtórzenia:
calendar-invitation-panel-prop-title-attendees = Uczestnicy:
calendar-invitation-panel-prop-title-description = Opis:
# Variables:
# $count (Number) - The number of attendees with the "ACCEPTED" participation status.
calendar-invitation-panel-partstat-accepted = Tak: { $count }
# Variables:
# $count (Number) - The number of attendees with the "DECLINED" participation status.
calendar-invitation-panel-partstat-declined = Nie: { $count }
# Variables:
# $count (Number) - The number of attendees with the "TENTATIVE" participation status.
calendar-invitation-panel-partstat-tentative = Może: { $count }
# Variables:
# $count (Number) - The number of attendees with the "NEEDS-ACTION" participation status.
calendar-invitation-panel-partstat-needs-action = Brak odpowiedzi: { $count }
# Variables:
# $count (Number) - The total number of attendees.
calendar-invitation-panel-partstat-total =
    { $count ->
        [one] { $count } uczestnik
        [few] { $count } uczestników
       *[many] { $count } uczestników
    }
calendar-invitation-panel-prop-title-attachments = Załączniki:
calendar-invitation-change-indicator-removed = Usunięto
calendar-invitation-change-indicator-added = Nowe
calendar-invitation-change-indicator-modified = Zmieniono
