# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, you can obtain one at http://mozilla.org/MPL/2.0/.

import-page-title = Импорттау
export-page-title = Экспорттау

## Header

import-start = Импорттау құралы
import-start-title = Баптаулар немесе деректерді қолданбадан немесе файлдан импорттау.
import-start-description = Импорттағыңыз келетін қайнар көзді таңдаңыз. Кейінірек сізден қандай деректерді импорттау керектігі сұралады.
import-from-app = Қолданбадан импорттау
import-file = Файлдан импорттау
import-file-title = Мазмұнын импорттау үшін файлды таңдаңыз.
import-file-description = Қор көшірмесі бұрын жасалған профильді, адрестік кітапша немесе күнтізбелерді импорттау үшін таңдаңыз.
import-address-book-title = Адрес кітапша файлын импорттау
import-calendar-title = Күнтізбе файлын импорттау
export-profile = Экспорттау

## Buttons

button-back = Артқа
button-continue = Жалғастыру
button-export = Экспорттау
button-finish = Дайын

## Import from app steps

app-name-thunderbird = Thunderbird
app-name-seamonkey = SeaMonkey
app-name-outlook = Outlook
app-name-becky = Becky! Internet Mail
app-name-apple-mail = Apple Mail
source-thunderbird = Басқа { app-name-thunderbird } орнатуынан импорттау
source-thunderbird-description = { app-name-thunderbird } профилінен баптаулар, сүзгілер, хабарламалар және басқа деректерді импорттау.
source-seamonkey = { app-name-seamonkey } орнатуынан импорттау
source-seamonkey-description = { app-name-seamonkey } профилінен баптаулар, сүзгілер, хабарламалар және басқа деректерді импорттау.
source-outlook = { app-name-outlook } ішінен импорттау
source-outlook-description = { app-name-outlook } ішінен тіркелгілер, адрестік кітапшалар және хабарламаларды импорттау.
source-becky = { app-name-becky } ішінен импорттау
source-becky-description = { app-name-becky } ішінен адрестік кітапшалар және хабарламаларды импорттау.
source-apple-mail = { app-name-apple-mail } ішінен импорттау
source-apple-mail-description = { app-name-apple-mail } ішінен хабарламаларды импорттау.
source-file2 = Файлдан импорттау
source-file-description = Адрестік кітапшалар, күнтізбелер немесе профильдің қор көшірмесін (ZIP файлын) импорттау үшін файлды таңдау.

## Import from file selections

file-profile2 = Қор көшірмесінен профильді импорттау
file-profile-description = Алдында қор көшірмесі жасалған Thunderbird профилін (.zip) таңдау
file-calendar = Күнтізбелерді импорттау
file-calendar-description = Экспортталған күнтізбелер немесе оқиғалары (.ics) бар файлды таңдаңыз.
file-addressbook = Адрестік кітапшаларын импорттау
file-addressbook-description = Экспортталған адрестік кітапшалары мен контактілері бар файлды таңдаңыз

## Import from app profile steps

from-app-thunderbird = { app-name-thunderbird } профилінен импорттау
from-app-seamonkey = { app-name-seamonkey } профилінен импорттау
from-app-outlook = { app-name-outlook } ішінен импорттау
from-app-becky = { app-name-becky } ішінен импорттау
from-app-apple-mail = { app-name-apple-mail } ішінен импорттау
profiles-pane-title-thunderbird = { app-name-thunderbird } профилінен баптаулар мен деректерді импорттау.
profiles-pane-title-seamonkey = { app-name-seamonkey } профилінен баптаулар мен деректерді импорттау.
profiles-pane-title-outlook = { app-name-outlook } ішінен деректерді импорттау.
profiles-pane-title-becky = { app-name-becky } ішінен деректерді импорттау.
profiles-pane-title-apple-mail = { app-name-apple-mail } ішінен хабарламаларды импорттау.
profile-source = Профильден импорттау
# $profileName (string) - name of the profile
profile-source-named = <strong>"{ $profileName }"</strong> профилінен импорттау
profile-file-picker-directory = Профиль бумасын таңдау
profile-file-picker-archive = <strong>ZIP</strong> файлын таңдау
profile-file-picker-archive-description = ZIP файлы 2 ГБ-тан аз болуы керек.
profile-file-picker-archive-title = ZIP файлын таңдаңыз (2 ГБ-тан кіші)
items-pane-title2 = Нені импорттау керектігін таңдаңыз:
items-pane-directory = Бума:
items-pane-profile-name = Профиль аты:
items-pane-checkbox-accounts = Тіркелгілер мен параметрлер
items-pane-checkbox-address-books = Адрестік кітапшалар
items-pane-checkbox-calendars = Күнтізбелер
items-pane-checkbox-mail-messages = Пошта хабарламалары
items-pane-override = Бар болып тұрған немесе бірдей деректер үстінен жазылмайды.

## Import from address book file steps

import-from-addr-book-file-description = Адрестік кітапшаңыздың деректері бар файл пішімін таңдаңыз.
addr-book-csv-file = Үтір немесе табуляциямен бөлінген файл (.csv, .tsv)
addr-book-ldif-file = LDIF файлы (.ldif)
addr-book-vcard-file = vCard файлы (.vcf, .vcard)
addr-book-sqlite-file = SQLite дерекқор файлы (.sqlite)
addr-book-mab-file = Mork дерекқор файлы (.mab)
addr-book-file-picker = Адрестік кітапша файлын таңдаңыз
addr-book-csv-field-map-title = Өріс атауларын сәйкестендіру
addr-book-csv-field-map-desc = Бастапқы өрістерге сәйкес адрестік кітапша өрістерін таңдаңыз. Импорттағыңыз келмейтін өрістерден белгішені алып тастаңыз.
addr-book-directories-title = Таңдалған деректерді импорттау орнын таңдаңыз
addr-book-directories-pane-source = Бастапқы файл:
# $addressBookName (string) - name of the new address book that would be created.
addr-book-import-into-new-directory2 = <strong>"{ $addressBookName }"</strong> деп аталатын жаңа буманы жасау
# $addressBookName (string) - name of the address book to import into
addr-book-summary-title = Таңдалған деректерді "{ $addressBookName }" бумасына импорттау
# $addressBookName (string) - name of the address book that will be created.
addr-book-summary-description = "{ $addressBookName }" деп аталатын жаңа адрестік кітапша жасалатын болады.

## Import from calendar file steps

import-from-calendar-file-desc = Импорттағыңыз келетін iCalendar(.ics) файлын таңдаңыз.
calendar-items-title = Импортталатын объектілерді таңдаңыз.
calendar-items-loading = Нәрселерді жүктеу…
calendar-items-filter-input =
    .placeholder = Нәрселерді сүзгілеу…
calendar-select-all-items = Барлығын таңдау
calendar-deselect-all-items = Барлығынан таңдауды алып тастау
calendar-target-title = Таңдалған нәрселерді импорттау орнын таңдаңыз
# $targetCalendar (string) - name of the new calendar that would be created
calendar-import-into-new-calendar2 = <strong>"{ $targetCalendar }"</strong> деп аталатын жаңа күнтізбені жасау
# $itemCount (number) - count of selected items (tasks, events) that will be imported
# $targetCalendar (string) - name of the calendar the items will be imported into
calendar-summary-title =
    { $itemCount ->
       *[other] { $itemCount } нәрсені "{ $targetCalendar }" күнтізбесі ішіне импорттау
    }
# $targetCalendar (string) - name of the calendar that will be created
calendar-summary-description = "{ $targetCalendar }" деп аталатын жаңа күнтізбе жасалатын болады.

## Import dialog

# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-importing2 = Импорттау… { $progressPercent }
# $progressPercent (string) - percent formatted progress (for example "10%")
progress-pane-exporting2 = Экспорттау… { $progressPercent }
progress-pane-finished-desc2 = Дайын.
error-pane-title = Қате
error-message-zip-file-too-big2 = Таңдалған ZIP файлы 2 ГБ-тан үлкен. Алдымен оны тарқатып, содан кейін тарқатылған бумадан импорттаңыз.
error-message-extract-zip-file-failed2 = ZIP файлын тарқату мүмкін болмады. Оны қолмен тарқатып, орнына тарқатылған бумадан импорттаңыз.
error-message-failed = Импорттау күтпеген жерден құлады, қосымша ақпарат Қателер консолінде қолжетімді болуы мүмкін.
error-failed-to-parse-ics-file = Файлда импортталатын элементтер табылмады.
error-export-failed = Экспорттау күтпеген жерден құлады, қосымша ақпарат Қателер консолінде қолжетімді болуы мүмкін.
error-message-no-profile = Профиль табылмады.

## <csv-field-map> element

csv-first-row-contains-headers = Бірінші жолда - өріс атаулары
csv-source-field = Бастапқы өріс
csv-source-first-record = Бірінші жазба
csv-source-second-record = Екінші жазба
csv-target-field = Адрестік кітапша өрісі

## Export tab

export-profile-title = Пошта тіркелгілері, пошта хабарламалары, адрестік кітапшалар және баптауларды ZIP файлына экспорттау.
export-profile-description = Ағымдағы профиліңіз 2 ГБ-тан үлкен болса, оның қор көшірмесін өз қолыңызбен жасауды ұсынамыз.
export-open-profile-folder = Профиль бумасын ашу
export-file-picker2 = ZIP файлына экспорттау
export-brand-name = { -brand-product-name }

## Summary pane

summary-pane-title = Импортталатын деректер
summary-pane-start = Импорттауды бастау
summary-pane-warning = Импорттау аяқталған кезде { -brand-product-name } қайта іске қосылуы керек.
summary-pane-start-over = Импорттау құралын қайта іске қосу

## Footer area

footer-help = Көмек керек пе?
footer-import-documentation = Импорттау құжаттамасы
footer-export-documentation = Экспорттау құжаттамасы
footer-support-forum = Қолдау форумы

## Step navigation on top of the wizard pages

step-list =
    .aria-label = Импорттау қадамдары
step-confirm = Растау
# Variables:
# $number (number) - step number
step-count = { $number }
