# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

rights-title = Mbi të Drejtat Tuaja
rights-intro =
    { -brand-full-name } është software i lirë dhe me burim të hapur, krijuar nga një bashkësi
    disamijëshe anembanë botës. Ka pak gjëra që do të duhej
    t'i dinit:
rights-intro-point-1 = { -brand-short-name }-i ju jepet sipas kushteve të <a data-l10n-name="mozilla-public-license-link">Licencës Publike Mozilla</a>. Kjo do të thotë që { -brand-short-name }-in mund ta përdorni, kopjoni dhe tua shpërndani të tjerëve. Jeni gjithashtu të lirë ta ndryshoni kodin burim të { -brand-short-name }-it në përputhje me nevojat tuaja. Licenca Publike Mozilla ju jep po ashtu të drejtën të shpërndani versionet tuaj të ndryshuar.
rights-intro-point-2 = Mozilla nuk ju jep ndonjë të drejtë mbi shenja tregtare ose mbi licenca shenjash tregtare të Mozilla Foundation-it ose të çfarëdo pale të tretë, përfshi, pa kufizim, emrin dhe stemën e Thunderbird-it. Më tepër të dhëna rreth shenjave tregtare (trademarks) mund të gjeni <a data-l10n-name="mozilla-trademarks-link">këtu</a>.
rights-intro-point-3 = Disa veçori te { -brand-short-name }-i, të tilla si Njoftuesi i Vithisjeve, ju ofrojnë mundësinë të jepni përshtypjet te { -vendor-short-name }. Duke zgjedhur parashtrim përshtypjesh, i jepni leje { -vendor-short-name }-s t'i përdorë përshtypjet për të përmirësuar produktet e veta, të botojë përshtypje te sajtet e veta dhe t'i shpërndajë përshtypjet.
rights-intro-point-4 = Se si i përdorim ne të dhënat tuaja vetjake dhe përshtypjet tuaja e dhëna te { -vendor-short-name } përmes { -brand-short-name }-it përshkruhet te <a data-l10n-name="mozilla-privacy-policy-link">Rregullat e Privatësisë për { -brand-short-name }-in</a>.
rights-intro-point-4-unbranded = Çfarëdo rregullash privatësie të zbatueshme mbi këtë produkt do të duheshin radhitur këtu.
rights-intro-point-5 = Disa veçori të { -brand-short-name }-it përdorin shërbime të dhënash me bazë web-in, sidoqoftë, nuk garantojmë dot që të jenë 100% të përpikta ose pa gabime. Më tepër hollësi, përfshi të dhëna rreth se si të çaktivizohen veçoritë, mund të gjenden te <a data-l10n-name="mozilla-service-terms-link">kushtet e shërbimit</a>.
rights-intro-point-5-unbranded = Nëse ky produkt përmban shërbime web, çfarëdo kushtesh të zbatueshëm për shërbimin(et) do të duhej të tregoheshin me një lidhje te <a data-l10n-name="mozilla-website-services-link">ndarja</a> Shërbime Sajtesh.
rights-intro-point-6 = Që të mund të luajë disa lloje lënde video, { -brand-short-name }-i shkarkon nga palë të treta disa module shfshehtëzimi lënde.
rights-webservices-header = Shërbime Sajtesh të { -brand-full-name }-it
rights-webservices2 = { -brand-full-name }-i përdor shërbime të dhënash me bazë web ("Shërbimet") për të bërë të mundur funksionimin e disa veçorive që ju ofrohen për përdorim përmes këtij versioni dyor të { -brand-short-name }-it, sipas kushteve të përshkruara më poshtë. Nëse nuk dëshironi të përdorni një ose më tepër prej Shërbimeve, ose nëse kushtet më poshtë janë të papranueshme për ju, mund ta çaktivizoni veçorinë ose Shërbimin(t). Udhëzimet se si të çaktivizohet një veçori ose Shërbim i caktuar mund të gjenden <a data-l10n-name="mozilla-disable-service-link">këtu</a>. Të tjera veçori dhe Shërbime mund të çaktivizohen te rregullimet e aplikacionit.
rights-locationawarebrowsing = <strong>Shfletimi i Ndjeshëm Ndaj Vendndodhjes: </strong>është përherë në dorën tuaj ta përdorni a jo. Kurrë nuk dërgohen të dhëna vendndodhjeje pa lejen tuaj. Nëse dëshironi ta çaktivizoni tërësisht veçorinë, ndiqni hapat vijues:
rights-locationawarebrowsing-term-1 = Hapni Përpunuesin e Formësimit
rights-locationawarebrowsing-term-2 = Shtypni geo.enabled
rights-locationawarebrowsing-term-3 = Dyklikoni mbi parapëlqimin geo.enabled
rights-locationawarebrowsing-term-4 = Shfletimi i Ndjeshëm Ndaj Vendndodhjes tani është joveprues
rights-webservices-unbranded = Një përmbledhje shërbimesh sajtesh të përfshirë në produkt, bashkë me udhëzimet se si të çaktivizohen ato, në pastë, do të duhej të përfshiheshin këtu.
rights-webservices-term-unbranded = Këtu do të duheshin radhitur çfarëdo kushtesh shërbimi të zbatueshme mbi këtë produkt.
rights-webservices-term-1 = { -vendor-short-name } dhe kontribuesit e saj, të licencuarit prej saj dhe partnerët përpiqen të ofrojnë Shërbimet më të përpikta dhe më të përditësuara. Sidoqoftë, nuk garantojmë dot që këto të dhëna janë të plota dhe pa gabim. Për shembull, Shërbimi i Shfletimi të Parrezik, gabimisht, mundet të mos identifikojë dot disa sajte me rrezik, apo të identifikojë sajte që nuk janë të tillë dhe, në lidhje me Shërbimin Shfletim i Ndjeshëm ndaj Vendndodhjes, krejt vendndodhjet e furnizuara nga shërbimi ynë janë vetëm propozime dhe as ne, as furnizuesit tanë të shërbimit, nuk garantojmë përpikërinë e vendndodhjeve të furnizuara.
rights-webservices-term-2 = { -vendor-short-name } mund t'i ndërpresë ose ndryshojë Shërbimet, kur dhe si të dojë.
rights-webservices-term-3 = Mirëpresim përdorimin e këtyre Shërbimeve me versionin shoqërues të { -brand-short-name }-it dhe gëzoni tërë të drejtat e nevojshme në lidhje me këtë. { -vendor-short-name } dhe të licencuarit prej saj ruajnë tërë të drejtat e tjera mbi Shërbimet. Këto kushte nuk janë hartuar për kufizimin e ndonjë të drejte dhënë sipas licencash burimi të hapur, të zbatueshme mbi { -brand-short-name }-in dhe versionet përgjegjëse të kodit burim të { -brand-short-name }-it.
rights-webservices-term-4 = <strong>Shërbimet jepen “siç janë”.  { -vendor-short-name }, kontribuesit në të, të licencuarit prej saj dhe shpërndarësit, nuk marrin përsipër asnjë garanci, qoftë shprehimisht apo të nënkuptuar, përfshi pa kufizime, garanci që Shërbimet janë të tregëtueshme dhe të përshtatshme për qëllimet tuaja të veçanta. Merrni mbi vete tërë rrezikun e përzgjedhjes së Shërbimeve për qëllimet tuaja dhe për cilësinë dhe funksionimin e Shërbimeve. Disa juridiksione nuk e lejojnë përjashtimin ose kufizimin e garancive të nënkuptuara, ndaj kjo klauzolë mund të mos ketë vlerë për rastin tuaj.</strong>
rights-webservices-term-5 = <strong>Hiq rastet kur e kërkon ligji, { -vendor-short-name }, kontribuesit e saj, të licencuarit prej saj dhe shpërndarësit e produkteve të saj, nuk do të jenë përgjegjës për çfarëdo dëmesh të tërthorta, speciale, të ardhura si incident, si pasojë, si ndëshkim, ose si shembull, që ka rrjedhur prej ose lidhen në çfarëdo mënyre me përdorimin e { -brand-short-name }-it dhe Shërbimeve. Detyrimi kolektiv sipas këtyre kushteve nuk do të tejkalojë vlerën $500 (pesëqind dollarë). Disa juridiksione nuk e lejojnë përjashtimin ose kufizimin e disa dëmeve, ndaj ky përjashtim dhe kufizim mund të jetë i pazbatueshëm për rastin tuaj.</strong>
rights-webservices-term-6 = { -vendor-short-name } mund t'i përditësojë këto kushte sipas nevojës, kohë pas kohe. Këto kushte nuk mund të ndryshohen apo bëhen të pavlefshme pa miratimin me shkrim nga { -vendor-short-name }.
rights-webservices-term-7 = Këto kushte administrohen nga ligjet e shtetit të Kalifornisë, U.S.A., me përjashtim të konflikteve me dispozita ligjore. Po qe se ndonjë pjesë e këtyre kushteve shihet si e pavlefshme apo e padetyrueshme, pjesët e mbetura do të mbesin në fuqi dhe me efekt të plotë. Në rast përplasjeje mes versionit të përkthyer të këtyre kushteve dhe versionit në gjuhën angleze, kontrollin e merr versioni në gjuhën angleze.
