# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

        <vbox id="chatTabPanel">
          <toolbox id="chat-view-toolbox" class="mail-toolbox"
                   mode="full" defaultmode="full"
                   labelalign="end" defaultlabelalign="end">
            <toolbar is="customizable-toolbar" id="chat-toolbar"
                     class="inline-toolbar chromeclass-toolbar themeable-full"
                     fullscreentoolbar="true"
                     customizable="true"
                     context="chat-toolbar-context-menu"
                     mode="full"
#ifdef XP_MACOSX
                     iconsize="small"
#endif
                     defaultset="button-add-buddy,button-join-chat,spacer,chat-status-selector,button-chat-accounts,spacer,gloda-im-search,button-chat-appmenu"/>

            <toolbarpalette id="ChatToolbarPalette">
              <toolbarbutton id="button-add-buddy"
                             class="toolbarbutton-1"
                             label="&addBuddyButton.label;"
                             oncommand="chatHandler.addBuddy()"/>
              <toolbarbutton id="button-join-chat"
                             class="toolbarbutton-1"
                             label="&joinChatButton.label;"
                             oncommand="chatHandler.joinChat()"/>
              <toolbaritem id="chat-status-selector"
                           orient="horizontal"
                           align="center" flex="1">
                <toolbarbutton id="statusTypeIcon"
                               type="menu"
                               wantdropmarker="true"
                               class="toolbarbutton-1"
                               status="available">
                  <menupopup id="setStatusTypeMenupopup"
                             oncommand="statusSelector.editStatus(event);">
                    <menuitem id="statusTypeAvailable" label="&status.available;"
                              status="available" class="menuitem-iconic"/>
                    <menuitem id="statusTypeUnavailable" label="&status.unavailable;"
                              status="unavailable" class="menuitem-iconic"/>
                    <menuseparator id="statusTypeOfflineSeparator"/>
                    <menuitem id="statusTypeOffline" label="&status.offline;"
                              status="offline" class="menuitem-iconic"/>
                  </menupopup>
                </toolbarbutton>
                <vbox flex="1"
                      orient="horizontal"
                      align="center"
                      class="input-container status-container">
                  <label id="statusMessageLabel"
                         flex="1"
                         value=""
                         class="statusMessageToolbarItem label-inline"
                         onclick="statusSelector.statusMessageClick();"/>
                  <html:input id="statusMessageInput"
                              value=""
                              class="statusMessageInput statusMessageToolbarItem status-message-input"
                              hidden="hidden"/>
                </vbox>
              </toolbaritem>
              <toolbarbutton id="button-chat-accounts"
                             class="toolbarbutton-1"
                             label="&chatAccountsButton.label;"
                             oncommand="openIMAccountMgr()"/>

              <toolbaritem id="gloda-im-search" insertafter="button-stop"
                           title="&glodaSearch.title;"
                           align="center"
                           flex="1"
                           class="gloda-search-widget chromeclass-toolbar-additional">
                <html:img class="search-icon" alt=""
                          src="chrome://global/skin/icons/search-textbox.svg" />
                <html:input is="gloda-autocomplete-input" id="IMSearchInput"
                            type="text"
                            class="searchBox gloda-search"
                            searchbutton="true"
                            autocompletesearch="gloda"
                            autocompletepopup="PopupGlodaAutocomplete"
                            autocompletesearchparam="global"
                            timeout="200"
                            maxlength="192"
                            placeholder=""
                            emptytextbase="&search.label.base1;"
                            keyLabelNonMac="&search.keyLabel.nonmac;"
                            keyLabelMac="&search.keyLabel.mac;"/>
              </toolbaritem>
              <toolbarbutton id="button-chat-appmenu"
                             type="menu"
                             badged="true"
                             class="toolbarbutton-1 button-appmenu"
                             label="&appmenuButton.label;"
                             tooltiptext="&appmenuButton1.tooltip;"/>
            </toolbarpalette>
          </toolbox>

          <vbox flex="1">
            <hbox id="chatPanel" flex="1">
              <vbox id="listPaneBox" style="min-width:125px;" width="200" persist="width">
                <richlistbox id="contactlistbox"
                             context="buddyListContextMenu"
                             tooltip="imTooltip" flex="1">
                  <richlistitem is="chat-group-richlistitem" id="conversationsGroup"
                                name="&conversationsHeader.label;"/>
                  <richlistitem is="chat-imconv-richlistitem"
                                id="searchResultConv"
                                displayname="&searchResultConversation.label;"
                                is-search-result=""
                                hidden="true"/>
                  <richlistitem is="chat-group-richlistitem" id="onlinecontactsGroup"
                                name="&onlineContactsHeader.label;"/>
                  <richlistitem is="chat-group-richlistitem" id="offlinecontactsGroup"
                                name="&offlineContactsHeader.label;"
                                class="closed"/>
                </richlistbox>
              </vbox>
              <splitter id="listSplitter" collapse="before"/>
              <vbox id="chat-notification-top" flex="1">
                <!-- notificationbox will be added here lazily. -->
                <vbox id="conversationsBox" flex="1">

                  <vbox flex="1" id="noConvScreen" class="im-placeholder-screen" align="center" pack="center">
                    <hbox id="noConvBox" class="im-placeholder-box" align="start">
                      <vbox id="noConvInnerBox" class="im-placeholder-innerbox" flex="1">
                        <label id="noConvTitle" class="im-placeholder-title">&chat.noConv.title;</label>
                        <description id="noConvDesc"
                                     class="im-placeholder-desc">&chat.noConv.description;</description>
                      </vbox>
                      <vbox id="noAccountInnerBox" class="im-placeholder-innerbox" flex="1" hidden="true">
                        <label id="noAccountTitle" class="im-placeholder-title">&chat.noAccount.title;</label>
                        <description id="noAccountDesc"
                                     class="im-placeholder-desc">&chat.noAccount.description;</description>
                        <hbox class="im-placeholder-button-box" flex="1">
                          <spacer flex="1"/>
                          <button id="openIMAccountWizardButton" label="&chat.accountWizard.button;"
                                  oncommand="openIMAccountWizard();"/>
                        </hbox>
                      </vbox>
                      <vbox id="noConnectedAccountInnerBox" class="im-placeholder-innerbox" flex="1" hidden="true">
                        <label id="noConnectedAccountTitle"
                              class="im-placeholder-title">&chat.noConnectedAccount.title;</label>
                        <description id="noConnectedAccountDesc"
                                     class="im-placeholder-desc">&chat.noConnectedAccount.description;</description>
                        <hbox class="im-placeholder-button-box" flex="1">
                          <spacer flex="1"/>
                          <button id="openIMAccountManagerButton" label="&chat.showAccountManager.button;"
                                  oncommand="openIMAccountMgr();"/>
                        </hbox>
                      </vbox>
                    </hbox>
                  </vbox>

                  <vbox id="logDisplay" flex="1" hidden="true">
                    <vbox flex="1">
                      <vbox flex="1" id="noPreviousConvScreen" class="im-placeholder-screen" align="center" pack="center">
                        <hbox id="noPreviousConvBox" class="im-placeholder-box" align="start">
                          <vbox id="noPreviousConvInnerBox" class="im-placeholder-innerbox" flex="1">
                            <description id="noPreviousConvDesc"
                                         class="im-placeholder-desc">&chat.noPreviousConv.description;</description>
                          </vbox>
                        </hbox>
                      </vbox>
                      <vbox flex="1" id="logDisplayBrowserBox">
                        <browser id="conv-log-browser" is="conversation-browser" type="content"
                                contextmenu="chatConversationContextMenu" flex="1"
                                tooltip="imTooltip"
                                messagemanagergroup="browsers"/>
                        <html:progress id="log-browserProgress" max="100" hidden="true"/>
                        <findbar id="log-findbar" browserid="conv-log-browser"/>
                      </vbox>
                    </vbox>
                    <button id="goToConversation" hidden="true"
                            oncommand="chatHandler.showCurrentConversation();"/>
                  </vbox>

                </vbox>
              </vbox>
              <splitter id="contextSplitter" hidden="true" collapse="after"/>
              <vbox id="contextPane" hidden="true" width="250" persist="width">
                <chat-conversation-info id="conv-top-info" class="conv-top-info"/>
                <vbox id="contextPaneFlexibleBox" flex="1">
                  <vbox flex="1" class="conv-chat" width="150">
                    <hbox align="baseline" class="conv-nicklist-header input-container">
                      <label class="conv-nicklist-header-label conv-header-label"
                             control="participantCount"
                             value="&chat.participants;"/>
                      <html:input id="participantCount" readonly="readonly" class="plain"/>
                    </hbox>
                    <richlistbox id="nicklist" class="conv-nicklist"
                                 flex="1" seltype="multiple"
                                 tooltip="imTooltip"
                                 context="participantListContextMenu"
                                 onclick="chatHandler.onNickClick(event);"
                                 onkeypress="chatHandler.onNicklistKeyPress(event);"/>
                  </vbox>
                  <splitter id="logsSplitter" class="conv-chat" collapse="after" orient="vertical"/>
                  <vbox flex="1" id="previousConversations" style="min-height: 200px;">
                    <label class="conv-logs-header-label conv-header-label"
                           value="&chat.previousConversations;"/>
                    <tree id="logTree" flex="1" hidecolumnpicker="true" seltype="single"
                          context="logTreeContext" onselect="chatHandler.onLogSelect();">
                      <treecols>
                        <treecol id="logCol" flex="1" primary="true" hideheader="true"
                                 crop="center" ignoreincolumnpicker="true"/>
                      </treecols>
                      <treechildren/>
                    </tree>
                  </vbox>
                </vbox>
              </vbox>
            </hbox>
          </vbox>
        </vbox>
