# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at http://mozilla.org/MPL/2.0/.

# Variables:
# $organizer (String) - The participant that created the original invitation.
calendar-invitation-panel-intro = { $organizer } ju ka ftuar:
calendar-invitation-panel-status-new = U ftuat te kjo veprimtari.
calendar-invitation-panel-status-processed = Kjo veprimtari është shtuar tashmë në kalendarin tuaj.
calendar-invitation-panel-status-updateminor = Ky mesazh përmban një përditësim për këtë veprimtari.
calendar-invitation-panel-status-updatemajor = Ky mesazh përmban një përdorim për këtë veprimtari. Duhet të ripohoni pjesëmarrjen tuaj.
calendar-invitation-panel-status-cancelled = Ky mesazh përmban një anulim të kësaj veprimtarie.
calendar-invitation-panel-status-cancelled-notfound = Ky mesazh përmban një anulim për një veprimtari e cila s’gjendet në kalendarin tuaj.
# Variables:
# $organizer (String) - The participant that cancelled the invitation.
calendar-invitation-panel-intro-cancel = { $organizer } ka anuluar:
# Variables:
# $summary (String) - A short summary or title of the event.
calendar-invitation-panel-title = { $summary }
calendar-invitation-panel-action-button = Ruaje
calendar-invitation-panel-view-button = Shiheni
calendar-invitation-panel-update-button = Përditësoje
calendar-invitation-panel-delete-button = Fshije
calendar-invitation-panel-accept-button = Po
calendar-invitation-panel-decline-button = Jo
calendar-invitation-panel-tentative-button = Ndoshta
calendar-invitation-panel-reply-status = * S’e keni vendosur, ose s’jeni përgjigjur ende
calendar-invitation-panel-more-button = Më tepër
calendar-invitation-panel-menu-item-save =
    .label = Ruaje në kalendar
calendar-invitation-panel-menu-item-toggle-changes =
    .label = Shfaqi Ndryshimet
calendar-invitation-panel-prop-title-when = Kur:
calendar-invitation-panel-prop-title-location = Vendndodhje:
# Variables:
# $dayOfWeek (String) - The day of the week for a given date.
# $date (String) - The date example: Tuesday, February 24, 2022.
calendar-invitation-datetime-date = { $dayOfWeek }, { $date }
# Variables:
# $time (String) - The time part of a datetime using the "short" timeStyle.
# $timezone (String) - The timezone info for the datetime.
calendar-invitation-datetime-time = { $time } ({ $timezone })
# Example: Friday, September 16, 2022
# Variables:
# $startDate (String) - The date (without time) the event starts on.
calendar-invitation-interval-all-day = { $startDate }
# Example: September 16, 2022 – September 16, 2023
# $startMonth (String) - The month the interval starts.
# $startDay   (String) - The day of the month the interval starts.
# $startYear  (String) - The year the interval starts.
# $endMonth   (String) - The month the interval ends.
# $endDay     (String) - The day of the month the interval ends.
# $endYear    (String) - The year the interval ends.
calendar-invitation-interval-all-day-between-years = { $startDay } { $startMonth } { $startYear } – { $endDay } { $endMonth } { $endYear }
# Example: September 16 – 20, 2022
# $month      (String) - The month the interval is in.
# $startDay   (String) - The day of the month the interval starts.
# $endDay     (String) - The day of the month the interval ends.
# $year       (String) - The year the interval is in.
calendar-invitation-interval-all-day-in-month = { $startDay } { $month } – { $endDay }, { $year }
# Example: September 16 – October 20, 2022
# $startMonth (String) - The month the interval starts.
# $startDay   (String) - The day of the month the interval starts.
# $endDay     (String) - The day of the month the interval ends.
# $year       (String) - The year the interval is in.
calendar-invitation-interval-all-day-between-months = { $startDay } { $startMonth } – { $endDay } { $endMonth } { $year }
# Example: Friday, September 16, 2022 15:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-same-date-time = { $startDate } <b>{ $startTime }</b> { $timezone }
# Example: Friday, September 16, 2022 14:00 – 16:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $endTime   (String) - The time the interval ends.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-same-day = { $startDate } <b>{ $startTime }</b> – <b>{ $endTime }</b> { $timezone }
# Example: Friday, September 16, 2022 14:00 – Tuesday, September 20, 2022 16:00 America/Port of Spain
# $startDate (String) - The date the interval starts.
# $startTime (String) - The time the interval starts.
# $startDate (String) - The date the interval ends.
# $endTime   (String) - The time the interval ends.
# $timezone  (String) - The timezone the interval is in.
calendar-invitation-interval-several-days = { $startDate } <b>{ $startTime }</b> – { $endDate } <b>{ $endTime }</b> { $timezone }
calendar-invitation-panel-prop-title-recurrence = Përsëritje:
calendar-invitation-panel-prop-title-attendees = Pjesëmarrës:
calendar-invitation-panel-prop-title-description = Përshkrim:
# Variables:
# $count (Number) - The number of attendees with the "ACCEPTED" participation status.
calendar-invitation-panel-partstat-accepted = { $count } me po
# Variables:
# $count (Number) - The number of attendees with the "DECLINED" participation status.
calendar-invitation-panel-partstat-declined = { $count } me jo
# Variables:
# $count (Number) - The number of attendees with the "TENTATIVE" participation status.
calendar-invitation-panel-partstat-tentative = { $count } numër me ndoshta
# Variables:
# $count (Number) - The number of attendees with the "NEEDS-ACTION" participation status.
calendar-invitation-panel-partstat-needs-action = { $count } pezull
# Variables:
# $count (Number) - The total number of attendees.
calendar-invitation-panel-partstat-total = { $count } pjesëmarrës
calendar-invitation-panel-prop-title-attachments = Bashkëngjitje:
calendar-invitation-change-indicator-removed = Hequr
calendar-invitation-change-indicator-added = E re
calendar-invitation-change-indicator-modified = E ndryshuar
