/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#subscriptionsDialog {
  width: 60em;
  height: 40em;
}

#rssSubscriptionsList > treechildren::-moz-tree-image {
  width: 16px;
  height: 16px;
  -moz-context-properties: fill, fill-opacity, stroke;
  fill: color-mix(in srgb, var(--default) 20%, transparent);
  stroke: var(--default);
}

#rssFeedInfoBox {
  border: 1px solid ThreeDShadow;
  margin: 4px;
  padding-top: 4px;
  background-color: rgba(0, 0, 0, 0.05);
}

:root[lwt-tree] #rssFeedInfoBox {
  border-color: var(--sidebar-border-color);
}

:root[lwt-tree-brighttext] #rssFeedInfoBox {
  background-color: rgba(255, 255, 255, 0.05);
}

#autotagPrefix {
  flex: 0;
}

#statusContainerBox {
  height: 2.4em;
}
